<div class="input-container">
    <label class="input-label" for="{{id}}">
        {{placeholder}}
    </label>
    <input
            id="{{id}}"
            placeholder="{{placeholder}}"
            class="input {{class}} {{#if full}} input-full {{/if}}"
            type="{{type}}"
    />
</div>