<div class="profile">
    {{{ ButtonReturn onClick=onReturnClick }}}
    {{#Form class="profile-field" type='profile' onSubmit=onSaveChanges}}
        {{{ Avatar class='avatar-edit' }}}
        {{{ FormField placeholder='Старый пароль' type='password' name='password' ref='oldPassword' full=true id='edit-pass' }}}
        {{{ FormField placeholder='Новый пароль' type='password' name='password' ref='newPassword' full=true id='edit-new-pass' onChange=onChange }}}
        {{{ FormField placeholder='Повторите новый пароль' type='password' name='password' ref='newPasswordConfirm' full=true id='edit-old-pass' onChange=onChange }}}
        {{{ ErrorMessage error=error ref="errorMessage"}}}
        {{{ Button text='Сохранить' type='submit' class='password-edit-button' }}}
    {{/Form}}
</div>
