<div class="profile">
    {{{ ButtonReturn onClick=onReturnClick }}}
    <form class="profile-field">
        <div class="avatar-field">
            {{{ Avatar class='avatar-change' }}}
            {{> Typography tag='span' text='Поменять аватар' class='avatar-change-description'}}
        </div>
        {{{ Typography tag='span' text='User' class='typography-profile' }}}
        {{{ Input placeholder='Имя' type='text' name='first_name' full=true id='profile-first-name' value=user.first_name }}}
        {{{ Input placeholder='Фамилия' type='text' name='second_name' full=true id='profile-second-name' value=user.second_name }}}
        {{{ Input placeholder='Логин' type='text' name='login' full=true id='profile-login' value=user.login }}}
        {{{ Input placeholder='Почта' type='text' name='email' full=true id='profile-mail' value=user.email }}}
        {{{ Input placeholder='Телефон' type='tel' name='phone' full=true id='profile-phone' value=user.phone }}}
        <div class="profile-links">
            {{{ Link class='link-profile' text='Изменить данные' onClick=onProfileEditClick}}}
            {{{ Link class='link-profile' text='Изменить пароль' onClick=onPassEditClick}}}
            {{{ Link class='link-exit' text='Выйти' onClick=onLogoutClick}}}
        </div>
    </form>
</div>
